body {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.movie-card {
  width: 320px;
  border: 4px solid black;
  background-color: #1a1a1a;
  overflow: hidden;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.image-header {
  height: 320px;
  position: relative;
  color: rgb(224, 223, 223);
  background-image: linear-gradient(
      to top,
      #1a1a1a 0%,
      rgba(26, 26, 26, 0.7) 15%,
      rgba(26, 26, 26, 0.2) 40%,
      transparent 90%
    ),
    url("https://m.media-amazon.com/images/I/51263v0irfL._AC_.jpg");
  background-size: cover;
  background-position: center 20%;
}

.menu-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #e74c3c;
}

.info-content {
  background-color: #1a1a1a;
  padding: 5px 10px;
}

.title-details {
  padding-bottom: 20px;
  color: #7e7c7c;
}

.title {
  font-size: 2em;
  margin: 0;
  line-height: 1;
  color: rgb(224, 223, 223);
}

.details {
  font-size: 0.85em;
  opacity: 0.9;
  margin-top: 5px;
  color: #7e7c7c;
}

.summary-title {
  font-size: 0.8em;
  color: rgb(224, 223, 223);
  margin: 0 0 10px;
  font-weight: bold;
}
.rating-icons {
  float: right;
  font-size: 0.9em;
  color: #e74c3c;
  font-weight: normal;
}

.rating-icons i {
  margin-left: 10px;
}

.summary-text,
.cast {
  font-size: 0.9em;
  color: #7e7c7c;
  line-height: 1.4;
  margin: 0 0 15px;
}

.cast {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
  color: #bbbbbb;
}

.actions-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: none;
  background-color: #1a1a1a;
}

.trailer-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #1a1a1a;
}

.trailer-button i {
  margin-right: 8px;
}

.icon-group {
  display: flex;
  gap: 15px;
}

.action-icon {
  color: #e74c3c;
  font-size: 20px;
  text-decoration: none;
}
